.header2{
	background:#000;
	padding: 1.5% 0;
}
.header-left2{
	float:left;
	width: 59%;
}
.logo2{
	float:left;
	margin-right: 2%;
}
.menu2{
	 float:left;
	 margin: 17px 0 0;
}
.menu2 li{
	display:inline-block;
}
.menu2 li:first-child{
   	margin-left:0;
}
.menu2 li a{
  	 display: block;
	font-size: 0.8125em;
	text-transform: uppercase;
	padding: 5px 20px;
	color: #FFF;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 600;
}
.menu2 li a:hover ,.menu2 li.active a{
	 background:#fff;
	 color:#000;
} 
#nav .current a {
	 color:red;
}
.toggleMenu2 {
    display:  none;
  	padding:4px 5px 0px 5px;
}
.nav2:before,
.nav2:after {
    content: " "; 
    display: table; 
}
.nav2:after {
    clear: both;
}
.nav2 ul {
    list-style: none;
}
@media screen and (max-width:800px) {
	.active {
        display: block;
    }
    .menu2 li a{
    	text-align:left;
    	border-radius:0;
    	-webkit-border-radius:0;
    	-moz-border-radius:0;
    	-o-border-radius:0;
    }
    .nav2 {
	    list-style: none;
		width: 95%;
		position: absolute;
		right: 20px;
		background: #222;
		top: 72px;
		z-index: 111;
    }
    .nav2:after {
		content: '';
		position: absolute;
		right:18px;
		top: -9px;
		border-left:10px solid rgba(0, 0, 0, 0);
		border-right:10px solid rgba(0, 0, 0, 0);
		border-bottom:10px solid #333;
	}
    .menu2 li a span.messages{
    	text-align:center;
    	top:15px;
    }
    .nav2 li ul{
    	width:100%;   	
    }
    .menu2 ul{
    	margin:0;
    }
    .nav2 > li.hover > ul {
        width:100%;
    }
    .nav2 > li {
        float: none;
        display:block;
    }
    .nav2 ul {
        display: block;
        width: 100%;
    }
   .nav2 > li.hover > ul , .nav2 li li.hover ul {
        position: static;
    }
    .nav2 li a{
    	border-top:1px solid #333;
    }
     .nav2 li:first-child a{
     	border-top:none;
     }
 }
.header_right2{
	float:right;
	width:6%;
	margin-top: 16px;
}
.sb-search {
	position: absolute;
	top:7px;
	right:0px;
	width: 0%;
	min-width: 45px;
	height: 45px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
.sb-search-input {
	position: absolute;
	top: 0;
	left: 0px;
	border: none;
	outline: none;
	background:#333;
	width: 100%;
	height:45px;
	margin: 0;
	z-index: 10;
	padding: 5px 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #ffffff;
}
.sb-search-input::-webkit-input-placeholder {
	color: #ffffff;
}
.sb-search-input:-moz-placeholder {
	color: #ffffff;
}
.sb-search-input::-moz-placeholder {
	color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
	color: #ffffff;
}
.sb-icon-search,.sb-search-submit  {
	width: 45px;
	height: 45px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	background: #333 url('../images/img-sprite.png') no-repeat 0px 1px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
   
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	-webkit-appearance: none;
}
.sb-icon-search {
	color: #FFF;
background: #000 url('../images/img-sprite.png') no-repeat 0px 1px;
z-index: 90;
}
/* Open state */
.sb-search.sb-search-open,.no-js .sb-search {
	width:40%;
}
.sb-search.sb-search-open .sb-icon-search,.no-js .sb-search .sb-icon-search {
	background: #c0c0c0 url('../images/img-sprite.png') no-repeat 0px 1px;
	color: #fff;
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

